body {
    width: 99%;
    padding: 0 40px 20px;
}

.left {
    padding: 50px 0;
    text-align: center;
}

#mealPhoto {
    border-radius: 100%;
    text-align: center;
    margin: auto;
    width: 60%;
    max-width: 200px;
    margin-bottom: 30px;
}

#video {
    margin: 40px 0;
}

button {
    background-color: maroon;
    border-radius: 50px;
    color: white;
    border-radius: 15px;
    padding: 0 15px;
    border: 0; 
    margin: 30px 20px 0;
}

button:hover {
    background-color: lightcoral;
    color: black;
}

h4 {
    padding: 50px 0 20px;
}

.ingredient {
    margin-left: 20px;
    text-indent: -23px;
    padding-left: 23px;
    margin-right: -20px;
}

footer {
    text-align: center;
    padding-top: 50px;
    font-size: 0.7em;
}