body {
    width: 99%;
    padding: 0 40px 20px;
}

.left {
    padding: 50px 0;
    text-align: center;
}

#mealPhoto {
    border-radius: 100%;
    text-align: center;
    margin: auto;
    width: 60%;
    max-width: 200px;
    margin-bottom: 30px;
}

#video {
    margin: 40px 0;
    max-height: 225px;
}

button {
    background-color: maroon;
    color: white;
    padding: 5px 10px;
    border-radius: 40px;
    border: 0; 
    margin: 10px;
    font-size: 0.8em;
}

button:hover {
    animation-name: colorchange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    0% {
        background-color: maroon;
    }
    50% {
        background-color: rgb(15, 31, 105);
    }
    100% {
        background-color: maroon;
    }
}


/* RIGHT SIDE INFO */
h4 {
    padding: 50px 0 20px;
}

.ingredient {
    margin-left: 20px;
    text-indent: -23px;
    padding-left: 23px;
    margin-right: -20px;
}

footer {
    text-align: center;
    padding-top: 50px;
    font-size: 0.7em;
}


/* OFFCANVAS ARCHIVE */
.archiveRecipe {
    margin: 10px;
}

#archive {
    text-align: center;
}

.currentRecipe {
    opacity: 50%;
}